# Datos de entrenamiento
proyecto_emociones/dataset/train/**/*
proyecto_emociones/dataset/test/**/*

# Archivos de modelo
model/*.h5
model/*.npy

# Entorno virtual
emociones_env/
venv/

# Archivos temporales
static/temp/*

# Archivos del sistema
__pycache__/
*.pyc
.DS_Store